<h1 class="text-white">Productos Ganadores</h1>
  <div class="acc-wrap-card flex flex-column p-4 border-round-3xl">
    <p-accordion class="w-full first-accordion" expandIcon=" " collapseIcon=" ">
    <p-accordionTab class="p-2" iconPos="end">
      <ng-template pTemplate="header" class="border-round-sm">
        <div class="accordion-header-details flex align-items-center justify-content-between w-full" (click)="toggleAccordion()">
          <div class="flex align-items-center gap-3">
            <div>
              <img src="/assets/icons/placeholder.png" alt="">
            </div>
            <div class="p-grid p-dir-col p-align-center">
              <div class="p-col my-1">
                <h4 class="font-bold m-0">Mopa Triangular 360º</h4>
              </div>
              <div class="p-col">
                <p class="font-light m-0">Detalles del producto</p>
              </div>
            </div>
          </div>
          <div>
            <p-button class="ml-auto mr-2 custom-btn border-round-md"
                      icon="{{ isAccordionExpanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down' }}"
                      label="Ver detalles" iconPos="right" size="small" >
            </p-button>
          </div>
        </div>
      </ng-template>
      <div class="p-grid p-nogutter">
       <div class="grid justify-content-center">
<!--           <div class="col-4" *ngFor="let item of cardItems">-->
           <div class="col-12 md:col-4 lg:col-4 " *ngFor="let item of cardItems">
             <p-card class="custom-card">
               <div class="flex align-items-center justify-content-between">
                 <div class="flex flex-column">
                   <p class="m-0">Precio de venta</p>
                   <h3 class="m-0">29.99$</h3>
                 </div>
                 <div>
                   <img src="./assets/icons/euro-icon.png" alt="">
                 </div>
               </div>
             </p-card>
           </div>

           <div class="btn-info-acc flex flex-column justify-content-center align-items-center gap-2 m-2">
             <p-button label="Importar producto a tu tienda" icon="pi pi-check" size="small" severity="success" />
             <small>(Provisionalmente sera: Descargar archivo CSV)</small>
           </div>
       </div>
      </div>
    </p-accordionTab>
  </p-accordion>
    <p-accordion class="w-full seccond-accordion" expandIcon=" " collapseIcon=" ">
      <p-accordionTab class="p-2" iconPos="end">
        <ng-template pTemplate="header" class="border-round-sm">
          <span class="flex align-items-center gap-2 w-full">
              <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle" />
              <span class="font-bold white-space-nowrap">
                  Amy Elsner
              </span>

              <p-button class="ml-auto mr-2 custom-btn border-round-md" icon="pi pi-chevron-up" label="Ver detalles" iconPos="right" size="small"></p-button>
          </span>
        </ng-template>
        <div class="p-grid p-nogutter">
          <div class="box-bg py-3 px-5">
            <div class="grid justify-content-between">
              <div class="col-12 md:col-6 lg:col-4 flex align-items-center justify-content-start">
                <h3>Página de producto</h3>
              </div>
              <div class="col-12 md:col-6 lg:col-4 flex align-items-center justify-content-end">
                <div class="btn-info-acc flex flex-column justify-content-center align-items-center gap-2 m-2">
                  <p-button label="Importar producto a tu tienda" icon="pi pi-check" size="small" severity="success" />
                  <small>(Provisionalmente sera: Descargar archivo CSV)</small>
                </div>
              </div>
            </div>

            <!--First row-->
            <div class="grid my-6">
              <div class="col-12 md:col-6 lg:col-6">
                <div>
                  <img src="/assets/images/cleaning-img.png" alt="" class="w-full lg:w-auto">
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column justify-content-center">
               <h3>Nombre del producto</h3>
                <p>¡Consigue una limpieza profunda y sin esfuerzo con esta mopa triangular!</p>

                  <p>🍃 Máxima Versatilidad</p>
                  <p>💦 Versatilidad de escurrido</p>
                  <p>🍃 Mezclador de liquidos</p>
                  <p>📦 Envío Express 24h</p>
                </div>
              </div>
            </div>

            <!--Second row-->
            <div class="grid my-5">
              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column justify-content-center">
                  <h3>No más luchas para la limpieza</h3>
                  <p>La forma triangular facilita llegar a las esquinas y rincones de manera más eficiente, asegurando una limpieza exhaustiva. Además,
                    el mango largo es ideal para alcanzar lugares altos, mientras que el mango telescópico, diseñado para ser utilizado con una sola mano,
                    mejora la eficiencia durante la limpieza.</p>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-6">
                <div>
                  <img src="/assets/images/cleaning-img.png" alt="" class="w-full lg:w-auto">
                </div>
              </div>
            </div>

            <!--third row-->
            <div class="grid my-5">
              <div class="col-12 md:col-6 lg:col-6">
                <div>
                  <img src="/assets/images/cleaning-img.png" alt="" class="w-full lg:w-auto">
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column justify-content-center">
                  <h3>No más luchas para la limpieza</h3>
                  <p>La forma triangular facilita llegar a las esquinas y rincones de manera más eficiente, asegurando una limpieza exhaustiva. Además,
                    el mango largo es ideal para alcanzar lugares altos, mientras que el mango telescópico, diseñado para ser utilizado con una sola mano,
                    mejora la eficiencia durante la limpieza.</p>
                </div>
              </div>
            </div>

            <!--fourth row-->
            <div class="grid my-5">
              <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column justify-content-center">
                  <h3>No más luchas para la limpieza</h3>
                  <p>La forma triangular facilita llegar a las esquinas y rincones de manera más eficiente, asegurando una limpieza exhaustiva. Además,
                    el mango largo es ideal para alcanzar lugares altos, mientras que el mango telescópico, diseñado para ser utilizado con una sola mano,
                    mejora la eficiencia durante la limpieza.</p>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-6">
                <div>
                  <img src="/assets/images/cleaning-img.png" alt="" class="w-full lg:w-auto">
                </div>
              </div>
            </div>

            <div class="flex flex-column align-items-center text-center">
              <h3>¡Prueba la Mopa Triangular durante 30 días o te devolvemos el dinero!</h3>
              <p> Ofrecemos 30 días de garantía, si no le encaja o le ha llegado dañado, simplemente devuélvanoslo y le reembolsaremos su dinero.</p>
            </div>

          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <p-accordion class="w-full first-accordion" expandIcon=" " collapseIcon=" ">
      <p-accordionTab class="p-2" iconPos="end">
        <ng-template pTemplate="header" class="border-round-sm">
          <span class="flex align-items-center gap-2 w-full">
              <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle" />
              <span class="font-bold white-space-nowrap">
                  Amy Elsner
              </span>

              <p-button class="ml-auto mr-2 custom-btn border-round-md" icon="pi pi-chevron-up" label="Ver detalles" iconPos="right" size="small"></p-button>
          </span>
        </ng-template>
        <div class="p-grid p-nogutter">
          <div class="box-bg py-3 px-5">
            <div class="grid">
              <div class="col-12">
                <h3>Anuncios UGC</h3>
              </div>
            </div>

            <div class="grid">
              <div class="col-12 md:col-4 lg:col-4">
                <div class="flex align-items-center justify-content-center relative">
                  <img src="/assets/images/juice-1.png" alt="" class="border-round-3xl">
                  <div class="download-arrow absolute border-circle p-3">
                    <img src="/assets/icons/downloadarrow.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-4 lg:col-4">
                <div class="flex align-items-center justify-content-center relative">
                  <img src="/assets/images/juice-2.png" alt="" class="border-round-3xl">
                  <div class="download-arrow absolute border-circle p-3">
                    <img src="/assets/icons/downloadarrow.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-4 lg:col-4">
                <div class="flex align-items-center justify-content-center relative">
                  <img src="/assets/images/juice-3.png" alt="" class="border-round-3xl">
                  <div class="download-arrow absolute border-circle p-3">
                    <img src="/assets/icons/downloadarrow.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <p-accordion class="w-full first-accordion" expandIcon=" " collapseIcon=" ">
      <p-accordionTab class="p-2" iconPos="end">
        <ng-template pTemplate="header" class="border-round-sm">
          <span class="flex align-items-center gap-2 w-full">
              <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle" />
              <span class="font-bold white-space-nowrap">
                  Amy Elsner
              </span>

              <p-button class="ml-auto mr-2 custom-btn border-round-md" icon="pi pi-chevron-up" label="Ver detalles" iconPos="right" size="small"></p-button>
          </span>
        </ng-template>
        <div class="p-grid p-nogutter">

          <!--first row-->
          <div class="box-bg py-3 px-5 my-4">
            <div class="ul-list">
              <h3 class="font-bold">A quién venderle <span class="font-light">(Público objetivo)</span></h3>
              <ul>
                <li class="font-light my-3">Amantes del aire libre y campistas.</li>
                <li class="font-light my-3">Asistentes a picnics y eventos que buscan asientos portátiles.</li>
                <li class="font-light my-3">Personas conocedoras de las redes sociales interesadas en equipos y equipos innovadores para actividades al aire libre.</li>
              </ul>
            </div>
          </div>

          <!--second row-->
          <div class="box-bg py-3 px-5 my-4">
            <div class="ul-list">
              <h3 class="font-bold">Como vender <span class="font-light">(Ángulos de marketing)</span></h3>
              <ul>
                <li class="font-light my-3">Movilidad y comodidad: para aquellos que valoran la facilidad de transporte y la instalación rápida,
                  este pequeño taburete se destaca como un elemento esencial, con su diseño plegable en un segundo y su bolsa de almacenamiento portátil.
                </li>
                <li class="font-light my-3">
                  Eficiencia espacial: Dirigido a aquellos que son conscientes del espacio, el taburete se presenta como una solución de asiento
                  estable que no invade las áreas de almacenamiento.
                </li>
                <li class="font-light my-3">
                  Versatilidad para disfrutar al aire libre: dirigido a personas que buscan un compañero para diversas actividades al aire libre,
                  este taburete se posiciona como un activo valioso para acampar y hacer picnic, mejorando la experiencia general de estas salidas.
                </li>
              </ul>
            </div>
          </div>

          <!--third row-->
          <div class="box-bg py-3 px-5 my-4">
            <div class="grid">
              <div class="col-12">
                <h3 class="font-bold">Dónde anunciar <span class="font-light">(Países)</span></h3>
              </div>
            </div>
            <div class="p-grid p-nogutter">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="custom-accordion-bg border-round-md p-2">
                    <p class="font-bold text-center">España e Islas Baleares <span class="font-light">(Servicio COD disponible)</span></p>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="custom-accordion-bg border-round-md p-2">
                    <p class="font-bold text-center">Portugal <span class="font-light">(Servicio COD disponible)</span></p>
                  </div>
                </div>
              </div>

              <div class="grid">
                <div class="col-12">
                  <div class="custom-accordion-bg border-round-md p-2 flex align-items-center gap-2">
                    <img src="/assets/icons/info-icon.svg" alt="" class="w-full md:w-auto">
                    <p>Te recomendamos probar otros países a los que procesamos envíos como: Francia, Italia, Alemania, Países Bajos, etc...
                      (Estos países no disponen de COD)
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--fourth row-->
          <div class="box-bg py-3 px-5 my-4">
            <div class="grid">
              <div class="col-12">
                <h3 class="font-bold">Cómo anunciar <span class="font-light">(Anuncios de Facebook / Anuncios de TikTok)</span></h3>
              </div>
            </div>

            <div class="p-grid p-nogutter">
              <div class="grid">
                <div class="col-12">
                  <div class="custom-accordion-bg border-round-md p-2">
                    <div class="flex align-items-center gap-2">
                      <img src="/assets/icons/meta-icon.svg" alt="">
                      <h3 class="font-bold">Campañas de Facebook</h3>
                    </div>
                    <div class="ul-list px-3">
                      <h4 class="font-bold">Campaña Test 1:</h4>
                      <ul>
                        <li class="font-bold my-3">Conjunto de anuncios 1:
                          <span class="font-light">
                            Opciones de audiencia Manual, sin intereses. (Audiencia abierta) Presupuesto recomendado:20€
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 2:
                          <span class="font-light">
                           Opciones de audiencia Manual. Intereses: Detergente, Fregona, Limpieza (casa y jardín), Polvo. Presupuesto recomendado: 20€
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 3:
                          <span class="font-light">
                            Opciones de audiencia Manual, sin intereses. Edad: +50 años. Presupuesto recomendado: 20€
                          </span>
                        </li>
                      </ul>
                    </div>

                    <div class="ul-list px-3">
                      <h4 class="font-bold">Campaña Test 2 (CBO):</h4>
                      <p class="font-light">Presupuesto recomendado: 150€</p>
                      <ul>
                        <li class="font-bold my-3">Conjunto de anuncios 1:
                          <span class="font-light">
                            Opciones de audiencia Advantage (Audiencia abierta)
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 2:
                          <span class="font-light">
                           Servicios de limpieza y mantenimiento
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 3:
                          <span class="font-light">
                            Artículos para el hogar (casa y jardín
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 4:
                          <span class="font-light">
                            Cuidado del hogar (casa y jardín)
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 5:
                          <span class="font-light">
                            Detergente
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 6:
                          <span class="font-light">
                            Fregona
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 7:
                          <span class="font-light">
                            Limpieza (casa y jardín)
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 8:
                          <span class="font-light">
                            Compradores que han interactuado
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 9:
                          <span class="font-light">
                            Polvo
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 10:
                          <span class="font-light">
                            Sin intereses. Edad + 50 años
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--fifth row-->
          <div class="box-bg py-3 px-5 my-4">
            <div class="grid">
              <div class="col-12">
                <h3 class="font-bold">Cómo anunciar <span class="font-light">(Anuncios de Facebook / Anuncios de TikTok)</span></h3>
              </div>
            </div>

            <div class="p-grid p-nogutter">
              <div class="grid">
                <div class="col-12">
                  <div class="custom-accordion-bg border-round-md p-2">
                    <div class="flex align-items-center gap-2">
                      <img src="/assets/icons/tiktok-icon.svg" alt="">
                      <h3 class="font-bold">Campañas de Facebook</h3>
                    </div>
                    <div class="ul-list px-3">
                      <h4 class="font-bold">Campaña Test 1:</h4>
                      <ul>
                        <li class="font-bold my-3">Conjunto de anuncios 1:
                          <span class="font-light">
                            Opciones de audiencia Manual, sin intereses. (Audiencia abierta) Presupuesto recomendado:20€
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 2:
                          <span class="font-light">
                           Opciones de audiencia Manual. Intereses: Detergente, Fregona, Limpieza (casa y jardín), Polvo. Presupuesto recomendado: 20€
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 3:
                          <span class="font-light">
                            Opciones de audiencia Manual, sin intereses. Edad: +50 años. Presupuesto recomendado: 20€
                          </span>
                        </li>
                      </ul>
                    </div>

                    <div class="ul-list px-3">
                      <h4 class="font-bold">Campaña Test 2 (CBO):</h4>
                      <p class="font-light">Presupuesto recomendado: 150€</p>
                      <ul>
                        <li class="font-bold my-3">Conjunto de anuncios 1:
                          <span class="font-light">
                            Opciones de audiencia Advantage (Audiencia abierta)
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 2:
                          <span class="font-light">
                           Servicios de limpieza y mantenimiento
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 3:
                          <span class="font-light">
                            Artículos para el hogar (casa y jardín
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 4:
                          <span class="font-light">
                            Cuidado del hogar (casa y jardín)
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 5:
                          <span class="font-light">
                            Detergente
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 6:
                          <span class="font-light">
                            Fregona
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 7:
                          <span class="font-light">
                            Limpieza (casa y jardín)
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 8:
                          <span class="font-light">
                            Compradores que han interactuado
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 9:
                          <span class="font-light">
                            Polvo
                          </span>
                        </li>
                        <li class="font-bold my-3">Conjunto de anuncios 10:
                          <span class="font-light">
                            Sin intereses. Edad + 50 años
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--sixth row-->
          <div class="box-bg py-3 px-5 my-4">
            <div class="ul-list">
              <h3 class="font-bold">Como vender <span class="font-light">(Ángulos de marketing)</span></h3>
              <h4 class="font-bold">Copy 1:</h4>
              <div class="ul-list px-3">
                <ul>
                  <li class="font-bold my-3">Texto principal:
                    <span class="font-light">
                       ¡Transforma tu experiencia de limpieza con nuestra Mopa Triangular Autoescurrible! Diseñada para brindar comodidad
                        y eficacia, esta mopa te ayudará a alcanzar cada rincón y esquina con facilidad, dejando tus suelos relucientes
                        y tus paredes impecables. ¡No pierdas más tiempo y energía, simplifica tu limpieza con nuestra mopa hoy mismo!
                    </span>
                  </li>
                  <li class="font-bold my-3">Título:
                    <span class="font-light">
                       ¡Limpieza sin Esfuerzo! Descubre nuestra Mopa Autoescurrible Triangula
                    </span>
                  </li>
                  <li class="font-bold my-3">Descripción:
                    <span class="font-light">
                      ¿Quieres una limpieza profunda sin complicaciones? ¡Nuestra Mopa Triangular Autoescurrible es la solución! Con su
                      sistema innovador, podrás deshacerte de la suciedad y el agua sin esfuerzo, mientras su diseño ergonómico te permite llegar
                      a todos los lugares difíciles. ¡Haz de la limpieza una tarea fácil y rápida con nuestra mopa!
                    </span>
                  </li>
                  <li class="font-bold my-3">CTA (Botón):
                    <span class="font-light">
                       COMPRAR
                    </span>
                  </li>
                </ul>
              </div>

              <h4 class="font-bold">Copy 2:</h4>
              <div class="ul-list px-3">
                <ul>
                  <li class="font-bold my-3">Texto principal:
                    <span class="font-light">
                       ¡Transforma tu experiencia de limpieza con nuestra Mopa Triangular Autoescurrible! Diseñada para brindar comodidad
                        y eficacia, esta mopa te ayudará a alcanzar cada rincón y esquina con facilidad, dejando tus suelos relucientes
                        y tus paredes impecables. ¡No pierdas más tiempo y energía, simplifica tu limpieza con nuestra mopa hoy mismo!
                    </span>
                  </li>
                  <li class="font-bold my-3">Título:
                    <span class="font-light">
                       ¡Limpieza sin Esfuerzo! Descubre nuestra Mopa Autoescurrible Triangula
                    </span>
                  </li>
                  <li class="font-bold my-3">Descripción:
                    <span class="font-light">
                      ¿Quieres una limpieza profunda sin complicaciones? ¡Nuestra Mopa Triangular Autoescurrible es la solución! Con su
                      sistema innovador, podrás deshacerte de la suciedad y el agua sin esfuerzo, mientras su diseño ergonómico te permite llegar
                      a todos los lugares difíciles. ¡Haz de la limpieza una tarea fácil y rápida con nuestra mopa!
                    </span>
                  </li>
                  <li class="font-bold my-3">CTA (Botón):
                    <span class="font-light">
                       COMPRAR
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--seventh row-->
          <div class="box-bg py-3 px-5 my-4">
            <div class="ul-list">
              <h3 class="font-bold">Recomendaciones <span class="font-light">(Tips y consejos)</span></h3>
              <ul>
                <li class="font-light my-3">
                  Utiliza método de pago contrareembolso, te recomendamos la app: https://releas.it/codform/stock-supplier
                </li>
                <li class="font-light my-3">
                  Añade upsells de cantidad desde la app Releasit COD
                </li>
                <li class="font-light my-3">
                  Añade coste de envío a tu tienda, de al menos 2,90€ a pedidos de menos de 50€
                </li>
                <li class="font-light my-3">
                  Añade comisión de 1€ a los clientes que utilicen método de pago contrareembolso, para incentivar el pago online.
                </li>
                <li class="font-light my-3">
                  Añade reviews a la página de producto, cuantas más mejor. Puedes utilizar esta app: https://apps.shopify.com/sealapps-product-review?ref=stockers-supplier
                </li>
              </ul>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <p-accordion class="w-full first-accordion" expandIcon=" " collapseIcon=" ">
      <p-accordionTab class="p-2" iconPos="end">
        <ng-template pTemplate="header" class="border-round-sm">
          <span class="flex align-items-center gap-2 w-full">
              <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle" />
              <span class="font-bold white-space-nowrap">
                  Amy Elsner
              </span>

              <p-button class="ml-auto mr-2 custom-btn border-round-md" icon="pi pi-chevron-up" label="Ver detalles" iconPos="right" size="small"></p-button>
          </span>
        </ng-template>
        <div class="p-grid p-nogutter">
            <div class="grid">
              <div class="col-12">
                <h3>Formación Stockers:</h3>
                <p class="font-light">Aprende el plan de ejecución para conseguir resultados con tu producto ganador, siguiendo paso a paso
                  todos los módulos de Stockers Academy.</p>
              </div>

              <div class="col-12 btn-info-acc flex justify-content-center align-items-center gap-2 m-2">
                <p-button size="small" class="border-round-md" severity="success">
                  <img src="/assets/icons/booksicon.png" alt="Books Icon">
                  <p class="font-bold m-0">Ver Formación de Stockers</p>
                </p-button>
              </div>

            </div>
        </div>
      </p-accordionTab>
    </p-accordion>
</div>
